%h3 Past Lessons
- if @past_appts.empty?
  You have no past appointments.
- else
  - @past_appts.each do |a|
    %p= a.description
%h3 Upcoming Lessons
- if @upcoming_appts.empty?
  %p
    You have no upcoming appointments!
    = link_to "Book Now", appointments_path
- else
  - @upcoming_appts.each do |a|
    %p= a.description