$navbar-default-bg: black;
$navbar-default-link-active-bg: transparent;
$navbar-border-radius: 2px;
$navbar-default-border: none;
$navbar-default-link-color: #FCFCFC;
$navbar-default-brand-color: #0EC95C;
$navbar-default-link-hover-color: lighten($navbar-default-brand-color, 35.0%);
$navbar-default-brand-hover-color: lighten($navbar-default-brand-color, 35.0%);
$navbar-default-link-active-color: #0EC95C;

$body-bg: #FCFCFC;
$text-color: #000000;
$link-color: #A84BCA;
$font-size-base: 18px;

$font-family-sans-serif:  Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman";
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif