%p= @availability.description
- @availability.schedule.occurrences(Date.today + 30.days).each do |t|
  %p= "#{t.start_time.strftime('%A, %B %e, %Y - %l:%M %p')} to #{t.end_time.strftime('%A, %B %e, %Y - %l:%M %p')}"